<!DOCTYPE html>
<html>

<head>
    <base href="/">

    <title>Just One More Flap</title>

    <style media="screen" type="text/css">
        body {
            font-family: "Thirteen Pixel Fonts Regular";
            text-align: center;
            background: black;
            color: white;
        }

        a {
            color: white;
        }

        #game {
            width: 800px;
            margin: 10px auto;
        }

    </style>
</head>

<body>
<div id="game">
</div>

<div id="information">
    Just One More Flap |
    <a href="https://ldjam.com/events/ludum-dare/41/just-one-more-flap">Ludum Dare 41</a>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7534942-6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-7534942-6');
</script>

</body>

</html>